::-webkit-scrollbar {
    width: 0px;
    }
    ::-webkit-scrollbar-track {
    background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb:hover {
    background: transparent;
    }
#taskCard::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 4px;
}
.high::after{
    background-color: #ef4444;
}
.mid::after{
    background-color: #f59e0b;
}
.low::after{
    background-color: #22c55e;
}